/* 全局样式 */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

/* 标题样式 */
h1 {
    text-align: center;
    color: #333;
    margin-top: 20px;
}

/* 表单样式 */
form {
    width: 300px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form label {
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
    color: #555;
}

form input{
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

form button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

form button:hover {
    background-color: #45a049;
}

/* 列表样式 */
ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background: #fff;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 80%;
    max-width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul li a {
    color: #f44336;
    text-decoration: none;
}

ul li a:hover {
    text-decoration: underline;
}

/* 页脚样式 */
footer {
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    background-color: #333;
    color: white;
}
